
client/node_modules
client/.next
client/out
client/build
client/public/build
client/.env
client/env

server/node_modules
server/.next
server/out
server/build
server/public/build     
server/.env
server/env
